/* CSS Reset */

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    text-decoration: none;
}

/* General Theming */

.main-page {
    max-width: 1024px;
    margin: 0 auto;
    border-left: 1px solid #e3e5e7;
    border-right: 1px solid #e3e5e7;
    padding: 2em;
}
.flex-object {
    box-shadow: 5px 5px 5px #e3e5e7;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Red Hat Display', sans-serif;
}
code {
    font-family: 'Red Hat Mono', monospace;
}
ol, ul {
	list-style: none;
}
a {
    color: black;
    text-decoration: underline;
}
section {
    border-bottom: 1px solid #e3e5e7;
    padding: 2em 0;
}
section h1 {
    display: inline-block;
    padding: 0 0.2em;
    border-bottom: 1px solid #e3e5e7;
    margin-bottom: 1em;
}
section:first-of-type {
    border-top: 1px solid #e3e5e7;
}
header {
    text-align: center;
    padding: 2em;
}
nav {
    text-align: center;
    border-top: 1px solid #e3e5e7;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    padding: 1em;
}
.list-point {
    list-style:disc;
    max-width: 50%;
    margin: 1em auto;
}
footer {
    text-align: center;
    padding: 2em;
}

.return {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    background-color: rgb(57, 58, 58);
    color: white;
    border-radius: 2em;
    margin: 1em;
}

/* About Section */

.about .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.about .flex-object-25 {
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    line-height: 1.7;
}
.about .flex-object-25 img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid #e3e5e7;
    box-shadow: 5px 5px 5px #e3e5e7;
}
.about .flex-object-75 {
    display: inline-block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
    box-shadow: 5px 5px 5px #e3e5e7;
}
.industries {
    margin: 1em;
}

/* Experience Section */

.experience .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.experience .flex-object {
    display: block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
}
.experience h2 {
    font-size: 100%;
    display: inline-block;
    padding: 0 0.2em;
    border-bottom: 1px solid #e3e5e7;
    margin-bottom: 1em;
}
.experience h3 {
    font-size: 90%;
}
.experience h4 {
    font-size: 80%;
}
.experience img {
    display: inline;
    width: calc(100% - 2em);
    max-width: 250px;
    padding: 1em;
    border-top: 1px solid #e3e5e7;
    margin: 1em auto;
}

/* Projects Section */

.projects .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.projects .flex-object {
    display: block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
}
.projects h2 {
    font-size: 100%;
    display: inline-block;
    padding: 0 0.2em;
    border-bottom: 1px solid #e3e5e7;
    margin-bottom: 1em;
}
.projects h3 {
    font-size: 90%;
    margin-bottom: 1em;
}
.projects h4 {
    font-size: 80%;
}
.projects img {
    display: block;
    width: calc(100% - 2em);
    max-width: 250px;
    margin: 1em auto;
    padding: 1em;
    border-top: 1px solid #e3e5e7;
    border-bottom: 1px solid #e3e5e7;
}

/* Education Section */

.education .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.education .flex-object {
    display: inline-block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
}

/* Applications Section */

.applications .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.applications .flex-object {
    display: inline-block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
}
.applications img {
    display: block;
    width: calc(100% - 2em);
    max-width: 250px;
    margin: 1em auto;
    padding: 1em;
    border-top: 1px solid #e3e5e7;
    border-bottom: 1px solid #e3e5e7;
}
.applications h3 {
    font-size: 90%;
}
.applications h4 {
    font-size: 80%;
}

/* Contact Section */

.contact .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.contact .flex-object {
    display: inline-block;
    flex: calc(100% - 2em - 2px);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
}

/* Public Key Section */

.ssh-key code {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #e3e5e7;
    text-align: center;
    line-height: 1.7;
    width: calc(100% - 2em - 2px);
    max-width: calc(100% - 2em - 2px);
    word-wrap: break-word;
    overflow:scroll;
    box-shadow: 5px 5px 5px #e3e5e7;
}

@media (min-width: 800px) {
    section {
        padding: 2em;
    }
    .about .flex-object-75 {
        flex: calc(75% - 2em - 2px);
        max-width: calc(75% - 2em - 2px);
    }
    .about .flex-object-25 {
        flex: calc(25% - 2em - 2px);
        max-width: calc(25% - 2em - 2px);
    }
    .about .flex-object-25 img {
        max-width: 100%;
    }
    .experience .flex-object {
        flex: calc(50% - 2em - 2px);
    }
    .projects .flex-object {
        flex: calc(50% - 2em - 2px);
    }
    .applications .flex-object {
        flex: calc(50% - 2em - 2px);
    }
}

@media (min-width: 1000px) {
    .experience .flex-object {
        flex: calc(25% - 2em - 2px);
    }
    .projects .flex-object {
        flex: calc(33% - 2em - 2px);
    }
    .education .flex-object {
        flex: calc(50% - 2em - 2px);
    }
    .applications .flex-object {
        flex: calc(33% - 2em - 2px);
    }
    .contact .flex-object {
        flex: calc(50% - 2em - 2px);
    }
}