* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Red Hat Text", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Red Hat Display";
}

pre {
    font-family: 'Red Hat Mono';
    display: inline-block;
    background-color: rgb(57, 58, 58);
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.2em;
}

header {
    text-align: center;
    background-color: rgb(57, 58, 58);
    padding-top: 1.5em;
    font-family: "Red Hat Display";
    color: white;
}

header h1 {
    font-size: 3em;
    font-weight: 600;
}

header h2 {
    font-size: 2.5em;
    font-weight: 300;
}

header ul {
    width: 100%;
    margin-top: 1.5em;
    background-color: white;
}

header li {
    list-style-type: none;
    display: inline-block;
}

header a {
    background-color: white;
    color: rgb(57, 58, 58);
    padding: 1em;
    margin: 0 0.2em;
    display: block;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 5em auto;
}

main > section {
    margin: 2em auto;
}

footer {
    text-align: center;
    background-color: rgb(57, 58, 58);
    padding: 3em;
    font-family: "Red Hat Display";
    color: white;
}